@model QuestionCreateModel

<div class="card mb-3">
    <div class="card-body">
        <div class="mb-3">
            <label asp-for="Text" class="form-label">Question Text</label>
            <input asp-for="Text" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Points" class="form-label">Points</label>
            <input asp-for="Points" type="number" class="form-control" />
        </div>

        <h5>Answers</h5>
        <div id="answers-container">
            @for (var i = 0; i < Model.Answers.Count; i++)
            {
                <div class="mb-3">
                    <label asp-for="Answers[i].Text" class="form-label">Answer @i</label>
                    <input asp-for="Answers[i].Text" class="form-control" />
                    <input asp-for="Answers[i].IsCorrect" type="checkbox" />
                    <span asp-validation-for="Answers[i].Text" class="text-danger"></span>
                </div>
            }
        </div>

        <button type="button" class="btn btn-secondary mt-2">Add Answer</button>
    </div>
</div>

